@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;600;700&display=swap');

:root {
    --primary-color: #15c579;
    --secondary-color: #54e4a4;
    --text-color: #534C64;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 3.5em;
    font-weight: 600;
}

.green-highlight {
    color: var(--primary-color);
}

.gradient-text {
    background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.green-btn {
    background-color: var(--primary-color);
    padding: 15px 30px;
    color: #fff;
    border: 0;
    border-radius: 50px;
    font-weight: 600;
}

.blue-btn {
    background-color: #64a7f3;
    padding: 15px 30px;
    color: #fff;
    border: 0;
    border-radius: 50px;
    font-weight: 600;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-container {
    box-shadow: 0px 5px 20px lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 20%;
    margin: 10px auto;
}

nav a {
    text-decoration: none;
    color: #3C354F;
    font-weight: 600;
}

nav a:first-child {
    margin-right: auto;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container h2 {
    margin-left: 20px;
    font-size: 2em;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    margin-left: 1.5em;
    transition: all 0.2s ease-in-out;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.follow-box {
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-weight: 600;
    color: #3C354F;
    background-color: #0b02231a;
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.banner-container {
    background-image: url('../images/banner-bg.png');
    background-position: -900px center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-container img {
    width: 100%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.half-width {
    width: 40%;
}

.banner h1:nth-child(2) {
    font-size: 6em;
    font-weight: 700;
}

.banner-features p {
    margin: 15px 0;
    color: var(--text-color);
}

.banner-features p i {
    color: var(--primary-color);
}

.banner-buttons {
    margin-top: 30px;
}

.gamer-container {
    background-color: #54e4a313;
    padding: 50px 0;
}

.gamer-container img {
    width: 100%;
}

.gamer {
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gamer p {
    margin: 20px 0;
    color: var(--text-color);
}

.gamer h4 {
    color: var(--text-color);
    font-size: 1.5em;
    margin-top: 20px;
    font-weight: 400;
}

.gamer h3 {
    color: var(--text-color);
    font-size: 2em;
}

.funny-games-container {
    padding: 50px 0;
    margin: 50px;
}

.funny-games-container img {
    width: 100%;
}

.funny-games {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.funny-games p {
    margin: 20px 0;
    color: var(--text-color);
}

.game-cards {
    display: flex;
    justify-content: space-between;
}

.game-card {
    position: relative;
    padding: 10px;
    height: 25em;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.icon {
    text-align: center;
    color: var(--primary-color);
    font-size: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon i {
    margin-bottom: 0.5em;
}

.game-card:hover .overlay {
    opacity: 1;
}

.icon p {
    font-size: 0.8em;
    margin: 0;
    font-weight: 400;
    color: var(--primary-color) !important;
}

.game-card img {
    max-height: 100%;
    width: auto;
}

.game-card p {
    margin: 10px 0;
    font-weight: 600;
    color: var(--text-color);
    text-align: left;
}



/* Media Queries */

@media screen and (max-width: 425px) {
    nav {
        display: block;
    }

    .nav-container {
        box-shadow: none;
    }

    .nav-links {
        flex-direction: column;

    }

    .nav-links a {
        margin: 10px 0px;
    }

    nav a:first-child {
        margin-right: 0;
    }

    .follow-box {
        margin: 20px 0;
    }

    .banner-container {
        background-image: url('../images/banner-bg.png');
        background-position: -600px center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner h1:nth-child(2) {
        font-size: 5em;
        font-weight: 700;
    }

    .banner {
        flex-direction: column;
    }

    .half-width {
        width: 100%;
    }

    .banner-buttons {
        text-align: center;
    }

    .gamer {
        flex-direction: column;
        text-align: center;
    }

    .game-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .game-card {
        margin: 50px;
    }
}